@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  min-height: calc(100vh - 79px - 78px);
}

.contentHistory {
  min-height: calc(100vh - 67px - 67px);
}

nav {
  padding: 0 1rem;
}

form {
  display: flex;
  padding: 0 1rem;
}

.boxBtn {
  margin: 5px;
}

.boxRed {
  margin: 10px;
}

h4 {
  padding-left: 15px;
  font-family: 'Caveat', cursive;
}

button {
  font-family: 'Caveat', cursive;
}